footer {
    font-family: $mainFont;
    background-color: #303036;
    color: rgba(255, 255, 255, 0.8);

    .location {
        padding-top: 40px;

        ul {
            li {
                @include flexCenter(row);
                line-height: 50px;
                justify-content: left;
                position: relative;
                left: 10vw;
                width: 90vw;

                i {
                    font-size: 20px;
                }

                p {
                    margin-left: 20px;
                }
            }
        }
    }

    .socials {
        @include flexCenter(row);
        justify-content: space-between;
        width: 60vw;
        position: relative;
        left: 20%;

        i {
            margin-top: 30px;
            font-size: 24px;
        }
    }

    .info {
        margin-top: 40px;

        img {
            width: 150px;
            margin-left: 20px;
        }

        p {
            margin: 15px;
            line-height: 23px;
            font-weight: 300;
            font-size: 15px;
        }
    }

    .rights {
        text-align: center;
        padding-bottom: 20px;
        border-top: 1px solid rgb(85, 85, 85);

        p {
            margin-top: 10px;
            font-size: 15px;
            color: rgb(173, 173, 173);
        }
    }
}