.services {
    width: 100vw;
    margin-top: 1vh;
    font-family: $mainFont;

    @media(min-width:$tablet) {
        margin-top: -36vh;
    }

    @media(min-width:$desktop) {
        margin-top: -20vh;
    }

    .header {
        @include header(40px);

    }

    ul {
        margin: 20px;

        @media (min-width:$tablet) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }

        @media (min-width: $desktop) {
            width: 70vw;
            position: relative;
            left: 14%;
        }

        li {
            @include flexCenter(column);
            text-align: center;
            border: 1px solid rgb(167, 165, 165);
            border-radius: 10px;
            padding: 20px;
            margin-top: 30px;
            height: 200px;
            transition: 0 all ease;


            @media(min-width:$tablet) {
                width: 40%;
                margin-left: 60px;
                position: relative;
                left: -30px;


            }

            @media (min-width: $desktop) {
                width: 22%;
                height: 250px;
                margin-top: 55px;


                &:hover {
                    @include backgroundColor();
                    color: white;
                    cursor: pointer;

                    i {
                        color: $mainColor;
                        background: #fff;
                    }
                }
            }

            i {
                font-size: 35px;
                color: white;
                @include backgroundColor();
                line-height: 70px;
                width: 70px;
                height: 70px;
                border-radius: 50%;

            }

            h3 {
                margin-top: 15px;

                @media (min-width: $desktop) {
                    font-size: 22px;
                }
            }

            p {
                font-size: 14px;
                margin-top: 10px;

                @media (min-width: $desktop) {
                    font-size: 18px;
                }
            }
        }

        .desktopdisplay {
            display: none;

            @media (min-width:$tablet) {
                display: flex;
            }
        }
    }
}